.site-footer {
  visibility: hidden;
  display: none;
}

/*Details and Summary*/
details {
    border: 2px solid var(#eee8d5); 
    padding: 0.5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    background-color: var(#eee8d5);
}
