.site-footer {
  visibility: hidden;
  display: none;
}


article {background: #eee8d5; border-radius: 2; padding: 1em; box-shadow: 0px 1px 0px rgba(0,0,0,0.3)}

/*My attempt at a tufte style sidenote css*/
/*Little more than tweaking tufte to use an aside because I hate classism*/

