.site-footer {
  visibility: hidden;
  display: none;
}

/*Details and Summary*/
details {
    border: 2px solid #eee8d5; 
    padding: 0.5em .5em 0;
    margin-bottom: 1ch;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    background-color: #eee8d5;
}
